// メディアクエリの設定
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin center($max-width: 100%, $width: 100%) {
  max-width: $max-width;
  width: $width;
  margin-right: auto;
  margin-left: auto;
}